<div class="row userslistpage">
    <div class="col-12">
        <div class="card">
            <div class="col-md-12">
                <div class="pt-3">
                    <h4 class="card-title"><span class="lstick"></span>Channels Details</h4>
                 </div>
				<div class="row mt-2">
                    <div class="col-md-4">
                        <label>Search</label>
                        <input [(ngModel)]="search" class="form-control" placeholder="Search">
                    </div>
                    <div class="col-md-8">
                        <form class="date-block" [formGroup]="filterForm" (ngSubmit)="filterDate(filterForm.value)">
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <div class="date-block__list">
                                        <label> From Date</label>
                                        <input type="date" class="form-control" formControlName="fromDate" placeholder="Streaming content title" [ngClass]="{ 'is-invalid': submitted && f.fromDate.errors }">
                                        <div *ngIf="submitted && f.fromDate.errors" class="invalid-feedback">
                                        <span class="for-sub-name" *ngIf="f.fromDate.errors.required" >From Date required </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="date-block__list">
                                        <label> To Date</label>
                                        <input type="date" class="form-control" formControlName="toDate" placeholder="From Date" [ngClass]="{ 'is-invalid': submitted && f.toDate.errors }">
                                        <div *ngIf="submitted && f.toDate.errors" class="invalid-feedback">
                                        <span class="for-sub-name" *ngIf="f.toDate.errors.required" >To Date required </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3 align-self-end">
                                    <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">Filter
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                                </div>
                                <div class="col-12 col-sm-3 align-self-end">
                                    <button type="button" class="btn btn-primary btn-block" [disabled]="loading" (click)="ClearFilter()">Clear
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
            <div class="col-md-12 mt-3">
                <div class="row mt-2">
                    <div class="col-md-4"><h5>User Name : <b>{{channel_data?.username | titlecase}}</b></h5></div>
                    <div class="col-md-4"><h5>Channel Name : <b>{{channel_name}}</b></h5></div>
                    <div class="col-md-4"><h5>Followers : <b>{{channel_data?.followers}}</b></h5></div>
                </div>
            </div>
            <div class="card-body" *ngIf="broadcast_data">
                <div class="table-responsive">
                    <table class="table vm no-th-brd pro-of-month mb-0 v-middle"  >
                        <thead>
                            <tr>
                                <th>Channel Name</th>
                                <th>Broadcast Time</th>
                                <th>Status</th>
                                <th>Cover Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let broadcast of broadcast_data | filter : search">
                                <td (click)="broadcastDetails(broadcast.channel_id)">{{broadcast.channel_name}}</td>
                                <td (click)="broadcastDetails(broadcast.channel_id)">{{broadcast.broadcast_time | date : 'medium'}}</td>
                                <td (click)="broadcastDetails(broadcast.channel_id)">
                                    <span *ngIf="broadcast.broadcast_status == '0'">Not Active</span>
                                    <span *ngIf="broadcast.broadcast_status == '1'">Active</span>
                                    <span *ngIf="broadcast.broadcast_status == '2'">Broadcast End</span>
                                    <span *ngIf="broadcast.broadcast_status == '3'">Published</span>
                                </td>
                                <td (click)="broadcastDetails(broadcast.channel_id)">
                                    <img src="{{img_url+broadcast.cover_image}}" style="height: 100px; width: 100px;">
                                </td>
                                <td>
                                    <div class="btn-group multi-btns">
                                        <button *ngIf="broadcast.broadcast_status == '0'" type="button" class="btn btn-success btn-xs">Upcoming</button>
                                        <button *ngIf="broadcast.broadcast_status == '1'" (click)="liveStream(broadcast.channel_id,broadcast.broadcast_id)" type="button" class="btn btn-info btn-xs">Live</button>
                                        <button *ngIf="broadcast.broadcast_status == '2'" type="button" class="btn btn-danger btn-xs">Expire</button>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="isLoading == true">
                                <td colspan="5" class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i><br>loading data....</td>
                            </tr>
                            <tr *ngIf="isRecord == true">
                                <td colspan="5" class="text-center">No record found!!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>