<app-header></app-header>
    <section class="fold-tri-sec padd-up-down">
        <div class="fold-tri-sec-inner container">
        <div class="tri-fold-head">
            <div class="tri-fold-inner fold-left">
            <div class="fold-left-con">
                <div class="sap-med-headings">Influencers</div>
                <!-- <div class="fold-sub-title"></div> -->
                <div class="fold-list-head">
                <div class="fold-list-inner">
                    <span class="fold-list-icon"><i class="fas fa-hand-holding-usd"></i></span>
                    <span class="fold-list-con">Monetize your influence</span>
                </div>            
                <div class="fold-list-inner">
                    <span class="fold-list-icon"><i class="fas fa-grin-stars"></i></span>
                    <span class="fold-list-con">Get paid via revenue share vs free product</span>
                </div>
                <div class="fold-list-inner">
                    <span class="fold-list-icon"><span class="hand-icon"><i class="fas fa-dollar-sign"></i><i class="fas fa-hands"></i></span></span>
                    <span class="fold-list-con">Connect with more brands; work more often and more consistently</span>
                </div>          
                </div>
            </div>
            </div>
            <div class="tri-fold-inner fold-center">
            <div class="mob-mock">
                <video src=""></video>
            </div>        
            </div>
            <div class="tri-fold-inner fold-right">
            <div class="fold-list-head">
                <div class="fold-list-inner">
                <span class="fold-list-icon"><i class="fas fa-handshake"></i></span>
                <span class="fold-list-con">Create long-term, profitable relationships with stores and brands</span>
                </div>
                <div class="fold-list-inner">
                <span class="fold-list-icon"><i class="fas fa-bullhorn"></i></span>
                <span class="fold-list-con">Expand your own influencer presence, reach new followers and amplify your message and brand</span>
                </div>           
            </div>        
            </div>
        </div>
        <div class="sap-btn-dark"><a href="" target="_blank">Become a FORI.LIVE Influencer!</a></div>
        </div>
    </section>
    <app-faq></app-faq>
<app-footer></app-footer>