<app-header></app-header>
  <section class="inventory-page">
  <div class="inventory-container grid-container">
    <div class="sap-med-headings">Products & Content</div>
    <ul class="tri-btn">
      <li class="sap-btn-light"><a routerLink="/product/create">Create New Product</a></li>
      <li class="sap-btn-light"><a href="#">Create a Show or Series</a></li>
      <li class="sap-btn-light"><a href="#">Create a Fundraiser</a></li>
    </ul>
       <div class="inventory-thumb-head">
        <div class="row">
        <div class="inventory-thumb-inner col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of shopifyProduct;let i = index">
          <div  class="inven-thumbs">
            <img [src]="product.image_url" alt="">
            <div class="overlay">
            <span class="inventory-tag">Products</span>
            <span class="thumb-des">
              <div class="thumb-title">{{product.product_title}}</div>
              <div class="thumb-hours">{{product.create_date | date: 'MMMM dd, yyyy'}}</div>
            </span>
           
          </div>
          </div>
          <div class="tag-head">
            <span class="tags-inner">{{product.product_category}}</span>
            <button class="btn btn-md btn-info" (click)="_addItemToCart(product.product_title)">Add to Cart</button>

          </div>
        </div>
        </div>
       
    </div>
      
     