<app-header></app-header>
<section class="fold-tri-sec padd-up-down">
    <div class="fold-tri-sec-inner container">
      <div class="tri-fold-head">
        <div class="tri-fold-inner fold-left">
          <div class="fold-left-con">
            <div class="sap-med-headings">Stores & Brands</div>
            <!-- <div class="fold-sub-title"></div> -->
            <div class="fold-list-head">
              <div class="fold-list-inner">
                <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
                <span class="fold-list-con">Bring your store to "LIVE"!</span>
              </div>
              <div class="fold-list-inner">
                <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
                <span class="fold-list-con">Give your store an edge: Livestream video selling is new and catching on rapidly in the U.S.</span>
              </div>
              <div class="fold-list-inner">
                <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
                <span class="fold-list-con">Enjoy an affordable, easy-to-use platform; all you need is a laptop with a camera</span>
              </div>   
              <div class="fold-list-inner">
                <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
                <span class="fold-list-con">Create deeper, lasting connections with shoppers</span>
              </div>                      
            </div>
          </div>
        </div>
        <div class="tri-fold-inner fold-center">
          <div class="mob-mock">
            <video src=""></video>
          </div>        
        </div>
        <div class="tri-fold-inner fold-right">
          <div class="fold-list-head">
            <div class="fold-list-inner">
              <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
              <span class="fold-list-con">Influence purchases with real-time promos and one-click buying</span>
            </div>
            <div class="fold-list-inner">
              <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
              <span class="fold-list-con">Expand your store’s reach and target your content to the right shoppers</span>
            </div>           
            <div class="fold-list-inner">
              <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
              <span class="fold-list-con">Discover, connect and work with reputable, targeted influencers to promote your store, brand  and products</span>
            </div> 
            <div class="fold-list-inner">
              <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
              <span class="fold-list-con">Become an Influence Brand™ - FORI.LIVE is here to help!</span>
            </div>                     
          </div>        
        </div>
      </div>
      <div class="sap-btn-dark"><a href="" target="_blank">Become a FORI.LIVE Seller!</a></div>
    </div>
  </section>
  <section class="plans-sec padd-up-down">
    <div class="plans-sec-inner container">
      <div class="sap-small-headings">PLANS for stores & brands</div>
      <div class="plans-table-head">      
        <div class="plans-card-head">
            <!-- <div class="plans-card-inner">
            <div class="plan-con">
                <div class="plan-title">Good</div>
                <div class="plan-price">
                <span class="plan-price-inner">$7.00</span><span class="plan-price-subtitle">per month</span>
                </div>
                <ul class="plan-list">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum dolor sit</li>           
                </ul>
            </div>
            <div class="sap-btn-dark"><a href="" target="_blank">Sign Up Now!</a></div>
            </div> -->
            <div class="plans-card-inner most-popular">
            <div class="plan-con">
                <div class="plan-title">Most Popular</div>
                <div class="plan-price">
                <span class="plan-price-inner">$14.00</span><span class="plan-price-subtitle">per month</span>
                </div>
                <ul class="plan-list">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum</li>            
                </ul>
            </div>
            <div class="sap-btn-dark"><a href="" target="_blank">Sign Up Now!</a></div>
            </div>
            <!-- <div class="plans-card-inner">
            <div class="plan-con">
                <div class="plan-title">Best</div>
                <div class="plan-price">
                <span class="plan-price-inner">$28.00</span><span class="plan-price-subtitle">per month</span>
                </div>
                <ul class="plan-list">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            <div class="sap-btn-dark"><a href="" target="_blank">Sign Up Now!</a></div>
            </div> -->
        
        </div>
        <table class="feature-table-inner table table-bordered">
            <thead>
              <tr>
                <th scope="col" id="red-back">Features</th>
                <th scope="col" id="grey-back">FORI.LIVE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Lorem ipsum dolor sit amet</td>
                <td><i class="far fa-check-circle"></i></td>
              </tr>
              <tr>
                <td scope="row">Lorem ipsum</td>
                <td><i class="far fa-check-circle"></i></td>
              </tr>
              <tr>
                <td scope="row">Lorem ipsum dolor sit</td>
                <td><i class="far fa-check-circle"></i></td>
              </tr>
              <tr>
                <td scope="row">Lorem ipsum dolor sit amet</td>
                <td><i class="far fa-check-circle"></i></td>
              </tr>
              <tr>
                <td scope="row">Lorem ipsum dolor</td>
                <td><i class="far fa-check-circle"></i></td>
              </tr>
              <tr>
                <td scope="row">Lorem ipsum dolor sit</td>
                <td><i class="far fa-check-circle"></i></td>
              </tr>        
            </tbody>
          </table>  
        </div>
          
    </div>
  </section>
  
  <section class="fori-feature">
    <div class="fori-feature-inner">
      <div class="feat-left"><div class="feat-left-img"><img src="assets/images/girlwithbags.png" alt=""></div><img src="assets/images/logo.png" alt="" class="feat-logo-over"></div>
      <div class="feat-right">
        <div class="sap-small-headings">What makes FORI.LIVE Unique?</div>
  
        <div class="fold-list-head">
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
            <span class="fold-list-con">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
            <span class="fold-list-con">Phasellus dolor lacus, fringilla non sodales vulputate, lacinia vel nisl.</span>
          </div>           
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
            <span class="fold-list-con">Nulla porta risus vel dui dictum rhoncus.</span>
          </div> 
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
            <span class="fold-list-con">Sed sed massa id tortor venenatis ultricies in vulputate ex.</span>
          </div> 
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
            <span class="fold-list-con">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
            <span class="fold-list-con">Phasellus dolor lacus, fringilla non sodales vulputate, lacinia vel nisl.</span>
          </div>           
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="far fa-check-circle"></i></span>
            <span class="fold-list-con">Nulla porta risus vel dui dictum rhoncus.</span>
          </div>                             
        </div> 
  
      </div>
    </div>
  </section>
  <app-faq></app-faq>
<app-footer></app-footer>