<app-header></app-header> 
<!-- <div class="banner-head container">
    <div class="banner-img"><img src="./assets/images/banner.png" alt=""></div>
    <div class="banner-text">
        <div class="sap-med-headings">FORI brings shoppers and sellers together to enjoy an interactive marketplace experience.</div>
        <div class="sap-btn-dark"><a href="javascript:void(0)" >Learn More</a></div>
    </div>
</div> -->
<div class="index-page">

  <section class="hero-banner">
    <div class="container hero-banner-inner">
      <div class="left-sec">
        <div class="left-sec-con">
          <div class="sap-med-headings">Welcome to FORI.LIVE</div>
          <p>Where <b>shoppers, stores</b> and <b>influencers</b> come together to create unique, engaging and rewarding Livestream video shopping experiences.</p>
          <p><b>FORI.LIVE</b> makes shopping entertaining, exciting, social and fun!</p>
          <div class="sap-small-headings">Join a Livestream video shopping event from anywhere.</div>
        </div>
        <div class="sap-btn-dark"><a href="" target="_blank">Shop Now!</a></div>
      </div>
      <div class="right-sec">
        <div class="right-sec-inner">
          <!-- <i class="fas fa-circle" id="up-circ"></i>
          <span class="wavy" id="up-wavy">
            <svg xmlns="http://www.w3.org/2000/svg" width="71.664" height="76.496" viewBox="0 0 71.664 76.496">
              <g id="Group_941" data-name="Group 941" transform="translate(-4404.606 -13084.16) rotate(40)">
                <g id="Group_929" data-name="Group 929" transform="translate(11822 7162)">
                  <path id="Path_3230" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_930" data-name="Group 930" transform="translate(11833.043 7162)">
                  <path id="Path_3230-2" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_931" data-name="Group 931" transform="translate(11833.043 7162)">
                  <path id="Path_3230-3" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_932" data-name="Group 932" transform="translate(11844.086 7162)">
                  <path id="Path_3230-4" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
              </g>
            </svg>
          </span> -->
          <div class="mob-mock">
            <video src=""></video>
          </div>
          <!-- <i class="fas fa-circle" id="down-circ"></i>
          <span class="wavy" id="down-wavy">
            <svg xmlns="http://www.w3.org/2000/svg" width="71.664" height="76.496" viewBox="0 0 71.664 76.496">
              <g id="Group_941" data-name="Group 941" transform="translate(-4404.606 -13084.16) rotate(40)">
                <g id="Group_929" data-name="Group 929" transform="translate(11822 7162)">
                  <path id="Path_3230" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_930" data-name="Group 930" transform="translate(11833.043 7162)">
                  <path id="Path_3230-2" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_931" data-name="Group 931" transform="translate(11833.043 7162)">
                  <path id="Path_3230-3" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_932" data-name="Group 932" transform="translate(11844.086 7162)">
                  <path id="Path_3230-4" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
              </g>
            </svg>
          </span>         -->
        </div>
      </div>
    </div>
  </section>

  <app-live-stream></app-live-stream>

  <app-upcoming-live-stream></app-upcoming-live-stream>


  <section class="for-stores-sec">
    <div class="container for-stores-sec-inner">
      <div class="left-sec">
        <div class="left-sec-inner">
          <!-- <i class="fas fa-circle" id="up-circ"></i>
          <span class="wavy" id="up-wavy">
            <svg xmlns="http://www.w3.org/2000/svg" width="71.664" height="76.495" viewBox="0 0 71.664 76.495">
              <g id="Group_937" data-name="Group 937" transform="translate(70.132 56.576) rotate(140)">
                <g id="Group_929" data-name="Group 929" transform="translate(0 0)">
                  <path id="Path_3230" data-name="Path 3230" d="M6.9,72.177C6.9,64.96,0,64.96,0,57.743s6.9-7.217,6.9-14.434S0,36.092,0,28.873s6.9-7.218,6.9-14.437S0,7.219,0,0" fill="none" stroke="#57504d" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_930" data-name="Group 930" transform="translate(11.043 0)">
                  <path id="Path_3230-2" data-name="Path 3230" d="M6.9,72.177C6.9,64.96,0,64.96,0,57.743s6.9-7.217,6.9-14.434S0,36.092,0,28.873s6.9-7.218,6.9-14.437S0,7.219,0,0" fill="none" stroke="#57504d" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_931" data-name="Group 931" transform="translate(11.043 0)">
                  <path id="Path_3230-3" data-name="Path 3230" d="M6.9,72.177C6.9,64.96,0,64.96,0,57.743s6.9-7.217,6.9-14.434S0,36.092,0,28.873s6.9-7.218,6.9-14.437S0,7.219,0,0" fill="none" stroke="#57504d" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_932" data-name="Group 932" transform="translate(22.086 0)">
                  <path id="Path_3230-4" data-name="Path 3230" d="M6.9,72.177C6.9,64.96,0,64.96,0,57.743s6.9-7.217,6.9-14.434S0,36.092,0,28.873s6.9-7.218,6.9-14.437S0,7.219,0,0" fill="none" stroke="#57504d" stroke-miterlimit="10" stroke-width="4"/>
                </g>
              </g>
            </svg>          
          </span> -->
          <div class="mob-mock">
            <video src=""></video>
            <img src="" alt="">
          </div>
          <!-- <i class="fas fa-circle" id="down-circ"></i>
          <span class="wavy" id="down-wavy">
            <svg xmlns="http://www.w3.org/2000/svg" width="71.664" height="76.495" viewBox="0 0 71.664 76.495">
              <g id="Group_937" data-name="Group 937" transform="translate(70.132 56.576) rotate(140)">
                <g id="Group_929" data-name="Group 929" transform="translate(0 0)">
                  <path id="Path_3230" data-name="Path 3230" d="M6.9,72.177C6.9,64.96,0,64.96,0,57.743s6.9-7.217,6.9-14.434S0,36.092,0,28.873s6.9-7.218,6.9-14.437S0,7.219,0,0" fill="none" stroke="#57504d" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_930" data-name="Group 930" transform="translate(11.043 0)">
                  <path id="Path_3230-2" data-name="Path 3230" d="M6.9,72.177C6.9,64.96,0,64.96,0,57.743s6.9-7.217,6.9-14.434S0,36.092,0,28.873s6.9-7.218,6.9-14.437S0,7.219,0,0" fill="none" stroke="#57504d" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_931" data-name="Group 931" transform="translate(11.043 0)">
                  <path id="Path_3230-3" data-name="Path 3230" d="M6.9,72.177C6.9,64.96,0,64.96,0,57.743s6.9-7.217,6.9-14.434S0,36.092,0,28.873s6.9-7.218,6.9-14.437S0,7.219,0,0" fill="none" stroke="#57504d" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_932" data-name="Group 932" transform="translate(22.086 0)">
                  <path id="Path_3230-4" data-name="Path 3230" d="M6.9,72.177C6.9,64.96,0,64.96,0,57.743s6.9-7.217,6.9-14.434S0,36.092,0,28.873s6.9-7.218,6.9-14.437S0,7.219,0,0" fill="none" stroke="#57504d" stroke-miterlimit="10" stroke-width="4"/>
                </g>
              </g>
            </svg>          
          </span>         -->
        </div>
      </div>
      <div class="right-sec">
        <div class="right-sec-con">
        <div class="sap-med-headings"><img src="https://fori.kindlebit.com/assets/images/flive-dark.png" alt=""> For Stores & Brands </div>
        <div class="fold-list-head">
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="fas fa-bullhorn"></i></span>
            <span class="fold-list-con">Bring your store to "LIVE" with Livestream video selling & social shopping</span>
          </div>
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="fas fa-hand-holding-usd"></i></span>
            <span class="fold-list-con">Enjoy an all-in-one platform that's affordable & easy-to-use</span>
          </div>
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="fas fa-shopping-cart"></i></span>
            <span class="fold-list-con">Offer real-time promos & one-click buying inside your Livestream</span>
          </div>            
        </div>
        </div>
        <div class="sap-btn-dark"><a href="" target="_blank">Learn More</a></div>
      </div>    
    </div>
  </section>

  <section class="for-influencers-sec">
    <div class="container for-influencers-sec-inner">
      <div class="left-sec">
        <div class="left-sec-con">
        <div class="sap-med-headings">Influencers</div>
        <div class="fold-list-head">
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="fas fa-hand-holding-usd"></i></span>
            <span class="fold-list-con">Monetize your influence</span>
          </div>
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="fas fa-handshake"></i></span>
            <span class="fold-list-con">Connect with more brands</span>
          </div>
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="fas fa-calendar-alt"></i></span>
            <span class="fold-list-con">Work more often and more consistently</span>
          </div>   
          <div class="fold-list-inner">
            <span class="fold-list-icon"><i class="fas fa-users"></i></span>
            <span class="fold-list-con">Reach and build a larger audience</span>
          </div>                    
        </div>
        </div>
        <div class="sap-btn-dark"><a href="javascript:void(0)" target="_blank">Request An Invite!</a></div>
      </div>   
      <div class="right-sec">
        <div class="right-sec-inner">
          <!-- <i class="fas fa-circle" id="up-circ"></i>
          <span class="wavy" id="up-wavy">
            <svg xmlns="http://www.w3.org/2000/svg" width="71.664" height="76.496" viewBox="0 0 71.664 76.496">
              <g id="Group_941" data-name="Group 941" transform="translate(-4404.606 -13084.16) rotate(40)">
                <g id="Group_929" data-name="Group 929" transform="translate(11822 7162)">
                  <path id="Path_3230" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_930" data-name="Group 930" transform="translate(11833.043 7162)">
                  <path id="Path_3230-2" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_931" data-name="Group 931" transform="translate(11833.043 7162)">
                  <path id="Path_3230-3" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_932" data-name="Group 932" transform="translate(11844.086 7162)">
                  <path id="Path_3230-4" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
              </g>
            </svg>        
          </span> -->
          <div class="mob-mock">
            <video src=""></video>
            <img src="" alt="">
          </div>
          <!-- <i class="fas fa-circle" id="down-circ"></i>
          <span class="wavy" id="down-wavy">
            <svg xmlns="http://www.w3.org/2000/svg" width="71.664" height="76.496" viewBox="0 0 71.664 76.496">
              <g id="Group_941" data-name="Group 941" transform="translate(-4404.606 -13084.16) rotate(40)">
                <g id="Group_929" data-name="Group 929" transform="translate(11822 7162)">
                  <path id="Path_3230" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_930" data-name="Group 930" transform="translate(11833.043 7162)">
                  <path id="Path_3230-2" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_931" data-name="Group 931" transform="translate(11833.043 7162)">
                  <path id="Path_3230-3" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
                <g id="Group_932" data-name="Group 932" transform="translate(11844.086 7162)">
                  <path id="Path_3230-4" data-name="Path 3230" d="M194.386,166.667c0,7.217-6.9,7.217-6.9,14.434s6.9,7.217,6.9,14.434-6.9,7.217-6.9,14.435,6.9,7.218,6.9,14.437-6.9,7.218-6.9,14.437" transform="translate(-187.484 -166.667)" fill="none" stroke="#e25751" stroke-miterlimit="10" stroke-width="4"/>
                </g>
              </g>
            </svg>         
          </span> -->
        </div>
      </div>     
    </div>
  </section>

  <section class="testi">
    <div class="container testi-inner">
      <div class="test-slider">
        <div class="sap-med-headings">What people are saying about FORI.LIVE</div>
        <owl-carousel-o [options]="customOptions">
          <div class="owl-carousel">
            <ng-template class="slide" carouselSlide [id]="1">
              <div class="test-head">
                <div class="text-para">“FORI.LIVE is the best livestream platform…”</div>
                <div class="test-bot-sec">
                    <div class="test-mem">Alec S., Influencer, Boston, MA</div>
                    <div class="test-stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>                          
                </div>
              </div>
            </ng-template>
            <ng-template class="slide" carouselSlide [id]="2">
              <div class="test-head">
                <div class="text-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non quam lobortis, rutrum turpis sed, gravida erat.</div>
                <div class="test-bot-sec">
                    <div class="test-mem">Laura Bejamin</div>
                    <div class="test-stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>                          
                </div>
              </div>
            </ng-template>
          </div>
        </owl-carousel-o>
      </div>
    </div>
  </section>

  <section class="in-the-news">
    <div class="container in-the-news-inner">
      <div class="sap-med-headings">FORI.LIVE in the News</div>
      <div class="row flips-head">
        <div class="col-md-4" *ngFor="let news of news_data;let i = index">
          <div class="flip">
            <div class="front" style="background-image: url({{image_url}}{{news.image}})">
            </div>
            <div class="back">
              <h2 [innerHTML]="news.title"></h2>
              <p [innerHTML]="news.description.slice(0, 100) + '...'"></p>
              <a href="javascript:void(0)" id="text-red">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sap-btn-dark"><a href="javascript:void(0)" (click)="allNews()">View More</a></div>        
        </div>     
      </div>
    </div>
  </section>

  <!-- <section id="slider">
    <div class="container">
    <div class="sap-med-headings">Shop In 3 Easy Steps</div>
    <input type="radio" name="slider" id="s1">
    <input type="radio" name="slider" id="s2" checked>
    <input type="radio" name="slider" id="s3">
    <label for="s1" id="slide1">
        <div class="content">
          <div class="slider-head">
            <span class="num">01</span>
            <div class="img"><img src="./assets/images/step1.png" alt=""></div>
            <div class="sap-small-headings">Discover A New Way to Shop</div>
            <div class="text-para">Our live-video marketplace has taken the shopping experience to a brand new level! Now you can discover new products and learn about the creators behind them all in real time!</div>
        </div>
        </div>
    </label>
    <label for="s2" id="slide2">
        <div class="content">
          <div class="slider-head">
            <span class="num">02</span>
            <div class="img"><img src="./assets/images/step2.png" alt=""></div>
            <div class="sap-small-headings">Interact & Shop in Real-Time</div>
            <div class="text-para">Interacting with the creators of the products you love has never been easier. Enjoy LIVE Q&A so you can shop with confidence. Experience one-click live shopping and connect with the brands you love on a deeper level.</div>
        </div>
        </div>
    </label>
    <label for="s3" id="slide3">
        <div class="content">
          <div class="slider-head">
            <span class="num">03</span>
            <div class="img"><img src="./assets/images/step3.png" alt=""></div>
            <div class="sap-small-headings">Enjoy Products Shipped Right to Your Door</div>
            <div class="text-para">Our no-hassle process makes receiving your products simple. Add your shipping & payment information and wait for the products to arrive right to your front door.</div>
        </div>
    </div>
    </label>
  </div>
  </section> -->

  <!-- <section class="recommended" *ngIf="recommendedlist.length > 0">
    <div class="container">
    <div class="sap-small-headings">Recommended</div>
    <div class="thumb-head">
      <div class="thumb-inner" *ngFor="let stream of recommendedlist">
        <a [routerLink]="['/view-stream', stream.channel_id]" class="thumb-img"><span class="live-tag" *ngIf="stream.broadcast_status == 1"><div class="red-dot" ></div>Live</span><img src="{{image_url+stream.cover_image}}" alt="Broadcast"  onerror="this.src='assets/images/broadcast-icon.jpg'"></a>
        <div class="title-head">
          <a [routerLink]="['/view-stream', stream.channel_id]" class="title-text">{{stream.channel_name}}</a>
          <div class="timer">

            <div class="days">
              <span *ngIf="stream.timestamp > 86400">
              <countdown  [config]="{ leftTime:  stream.timestamp - 86400, format: 'd' }">$!d!:$!h!:$!m!:$!s!</countdown>
            </span>
            <span *ngIf="stream.timestamp < 86400">0</span>
            <span>days</span></div>

            <div class="hours"><span><countdown [config]="{ leftTime:  stream.timestamp, format: 'HH' }">$!d!:$!h!:$!m!:$!s!</countdown></span><span>hours</span></div>
            <div class="mins"><span><countdown [config]="{ leftTime:  stream.timestamp, format: 'm' }">$!d!:$!h!:$!m!:$!s!</countdown></span><span>mins</span></div>
            <div class="secs"><span><countdown [config]="{ leftTime:  stream.timestamp, format: 's' }">$!d!:$!h!:$!m!:$!s!</countdown></span><span>secs</span></div>
          </div>
          <div class="date-num">{{stream.broadcast_time | date:'MMMM dd, yyyy hh:mm a'}}</div>
        </div>
      </div>

    </div>
  </div>
  </section> -->

  <!-- 
  <section class="recent-sales" *ngIf="recentSales.length > 0">
    <div class="container">
    <div class="sap-small-headings">recent sales</div>
    <div class="thumb-head">
      <div class="thumb-inner" *ngFor="let product of recentSales">
        <a [routerLink]="['/view-stream', product.broadcast_id]" class="thumb-img"><img [src]="product.image_url" alt="Product"  onerror="this.src='assets/images/product-icon.jpg'"></a>
        <div class="title-head">
          <a [routerLink]="['/view-stream', product.broadcast_id]" class="title-text">{{product.product_title}}</a>
          <div class="date-num">{{product.create_date | date: 'MMMM dd, yyyy hh:mm a'}}</div>
        </div>
      </div>
    </div>
  </div>
  </section> -->

  <!-- <section class="vid-sec">
  <img src="./assets/images/vid-sec.png" alt="">
  </section> -->

  <!-- <section class="popluar-channel" *ngIf="popularChannelsList.length > 0">
    <div class="container">
    <div class="sap-small-headings">popular channels</div>
    <div class="thumb-head">
      <div class="thumb-inner" *ngFor="let channel of popularChannelsList">
      <a [routerLink]="['/channel', channel.channel_name]" class="thumb-img"><img src="{{image_url+channel.channel_logo}}" alt="Channel" onerror="this.src='assets/images/channel-icon.jpg'"></a>
        <div class="title-head">
          <a [routerLink]="['/channel', channel.channel_name]" class="title-text">{{channel.channel_name}}</a>
          <div class="followers-num">{{channel.followers}} Followers</div>
        </div>
      </div>
    </div>
    <div class="sap-btn-dark" *ngIf="totalChannel"><a routerLink="list/channels" >View More</a></div>
  </div>
  </section> -->

  <!-- <section class="platform-banner">
  <div class="container">
  <div class="plat-left">
    <div class="sap-med-headings">Are you ready to get transform the <br>E-commerce Platform?</div>
    <div class="text-para">Signing up for FORI is easy. The first step is creating your shopper profile.</div>
    <div class="sap-btn-dark platform-btn"><a routerLink="/register" >Get Started</a></div>
  </div>
  <div class="plat-right"><img src="./assets/images/vector-banner.png" alt=""></div>
</div>
</section> -->

</div>

<app-footer></app-footer>