 <div class="row">
    <div class="col-12">
    	<div class="card">
            <div class="card-body">
				<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)"  method="post">
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp"> -->

							<input class="form-control" type="email" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
			             <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
			                <span class="for-sub-name" *ngIf="f.email.errors.required">Email is required</span>
			              </div>
						</div>
						<button type="submit" class="btn btn-primary btn-block">reset password</button>
						
						<div class="sign-up">
							Don't have an account? <a href="#">Create One</a>
						</div>
				</form>
			</div>
		</div>
	</div>
</div> 
